@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #0f172a; /* slate-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617; /* slate-950 */
    --foreground: #f1f5f9; /* slate-100 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
